/* Configuração geral do corpo da página */
body {
    font-family: 'Arial', sans-serif;
    /* Fonte clara e legível */
    background-color: #dbdbdb;
    /* Cor de fundo suave */
    margin: 0;
    color: #333;
    /* Cor de texto que oferece bom contraste */
}

.acoes {
    height: 25px;
    width: 25px;
    display: inline;
}

.form {
    display: flex;
    flex-direction: column;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 10px;
}

.box {
    margin-top: 25vh;
}

.sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-text {
    color: #5f5f5f;
    min-width: 35vh;
    font-size: small;
}

.right-align {
    text-align: right;
}

.link-inline {
    color: #007bff;
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-app-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-app {
    width: 50%;
    text-align: center;
    background-color: #007bff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    transition: 0.2s ease-out;
}

.menu-app:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.menu-content {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.flexbox {
    display: flex;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    text-align: center;
}

.fecharModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fecharModal:hover,
.fecharModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tablePonto{
    border: 1px, solid, black;
    border-spacing: 0;
    text-align: center;
}


#localErro h2 {
    font-size: larger;
    color: black;
}

#mainFrame {
    margin-top: 0;
    display: none;
}


#localErro p {
    font-size: medium;
    color: rgb(43, 43, 43);
}

#localErro a {
    background-color: #ff543e;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    /* Indicador visual de que é clicável */
    transition: background-color 0.3s;
    /* Transição suave para feedback visual */
}

#listaPontos {
    margin-top: 20px;
    display: none;
    border-radius: 5px;
}

#localErro a:hover {
    background-color: #c0402f;
}

#localErro {
    display: none;
}

#aplicacao {
    display: none;
}

#cadastroForm {
    display: none;
}

#map {
    display: none;
    height: 250px;
}

#modalImagem {
    display: none;
    max-width: 500px;
    max-height: 500px;
}

/* Cabeçalhos principais */
h1 {
    font-size: 24px;
    color: #007bff;
    /* Cor que destaca a importância do cabeçalho */
}

/* Formulários */
form {
    background-color: #ffffff;
    /* Fundo claro para áreas interativas */
    padding: 20px;
    border-radius: 8px;
    /* Bordas arredondadas para um design amigável */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra sutil para elevação */
    margin-bottom: 20px;
    /* Espaçamento entre elementos de formulário */
}

/* Labels são claros e diretos */
label {
    display: block;
    margin-bottom: 8px;
    /* Espaço abaixo do label para clareza */
    font-weight: bold;
    /* Destaque para o texto do label */
}

/* Inputs padrão e seletores */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="password"],
select {
    padding: 10px;
    /* Padding para facilidade de entrada de dados */
    margin-bottom: 20px;
    /* Espaço entre campos para evitar erros */
    border: 1px solid #ccc;
    /* Borda sutil para definir áreas clicáveis */
    border-radius: 4px;
    /* Consistência com bordas arredondadas */
}

/* Botões com interatividade clara */
button {
    background-color: #007bff;
    /* Cor chamativa para ações principais */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    /* Indicador visual de que é clicável */
    transition: background-color 0.3s;
    /* Transição suave para feedback visual */
}

button:hover {
    background-color: #0056b3;
    /* Mudança de cor ao passar o mouse para feedback */
}

/* Estilos adicionais para feedback visual de ações */
button:active {
    transform: translateY(1px);
    /* Efeito de clique sutil */
}

/* Limpar o estilo do navegador padrão para imagens em listas */
ul {
    list-style-type: none;
    /* Remover marcadores de lista */
    padding-left: 0;
    /* Ajustar alinhamento */
}

li {
    margin-bottom: 10px;
    /* Espaçamento entre itens da lista */
    padding: 10px;
    background-color: #e9ecef;
    /* Diferenciação sutil de itens */
    border-radius: 4px;
}

/* Imagens dentro de itens da lista */
img {
    max-width: 100px;
    /* Limitação do tamanho da imagem para uniformidade */
    height: auto;
    display: block;
    /* Correção de alinhamento */
}

/* Células de Tabela terão padding padrão*/
td,th{
    padding: 5px;
}

/* Media Queries */
@media (max-width: 600px) {
    body {
        margin: 5px;
        font-size: 14px;
    }

    h1 {
        font-size: 18px;
    }

    form {
        padding: 15px;
    }

    button {
        padding: 8px 10px;
    }

    .flexbox {
        flex-wrap: wrap;
    }
    .menu-app {
        width: 99%;
        
        margin: 1%;
    }

    #modalImagem {
        max-width: 250px;
        max-height: 250px;
    }

    .modal-content {
        margin: 40% auto;
        padding: 10px;
        border: 1px solid #888;
        width: 90%;
        
    }

    .menu-content {
        display: none;
        flex-direction: column;
        align-items: stretch;
    }

    td,th{
        padding: 0;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    body {
        margin: 20px;
        font-size: 16px;
    }

    h1 {
        font-size: 22px;
    }

    #modalImagem {
        max-width: 400px;
        max-height: 400px;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 30% auto;
        /* 15% from the top and centered */
        padding: 10px;
        border: 1px solid #888;
        width: 80%;
        text-align: center;
        /* Could be more or less, depending on screen size */
    }
}

@media (min-width: 901px) {
    body {
        margin: 30px;
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 10px;
        border: 1px solid #888;
        
        text-align: center;
        /* Could be more or less, depending on screen size */
    }
    
}